:root {
  --dark: rgb(13, 17, 19);
  --light: #fff;
  --accent: rgb(222, 52, 0);
  --accent-dark: rgb(163, 38, 0);
  --secondary: rgb(0, 76, 198);
}
h1,
h2,
h3,
p{
  margin: 0;
}

li,ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



body {
  min-width: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--dark);
  color: var(--light);
  margin-top: 200px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.front {
  transition: 250ms;
}
.game{
  cursor: pointer;
  position: relative;
  width: 200px;
  &__name {
    margin: 10px 0;
    transition: 250ms;

  }

  &__img {
    border-radius: 5%;
  }

  .rank {
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 25px;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 81%, 0 100%, 0% 60%, 0 0);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 6px;

  }


    &__streamers {
      display: flex;

      img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 2px solid var(--dark);

        &:nth-of-type(1){  // немного двигаем елемент и накладываем его на другой
          transform: translateX(50%);
          z-index: 1;
        }
        &:nth-of-type(2){
          transform: translateX(25%);
        }

      }
    }

  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    .views{
      padding: 0 5px;
    }
    i {
      display: flex;
      font-size: 15px;
      color: #7d7d81;
    }
  }

}



.back{
  position: absolute;
  opacity: 0;
  right: 0;
  left: 0;
  bottom: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    cursor: pointer;
    border: 0;
    background: var(--secondary);
    border-radius: 100vw ;
    color: var(--light);
    font-weight: bold;
    padding:7px 10px;
    margin-bottom: 10px;


  }

  .streaming-info {
    columns: 2;
    column-rule: 1px solid rgba(255,255,255, .25); //column-rule устанавливает ширину, стиль и цвет линии, находящейся между колонками в мультиколоночной вёрстке.
    margin: 10px 0;

    text-align: center;


    .game-stat {
      font-size: 18px;

      span {
        display: block;
        font-size: 14px;
      }

    }

  }


  .streamers {
    display: flex;

    .streamer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
      }

      .name {
        font-weight: bold;
      }
    }
  }
}

.background {
  background-color: #2b2d34;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(.2, .9);
  opacity: 0;
  transition: 250ms;
  border-radius: 3%;

}

.game:hover{

  .back {
    opacity: 1;
    transition: 400ms;
  }
  .front{
    transform: translateY(-30%);
  }

  .game__name {

    transform: translateX(30%);
  }

  .game__stats {
    opacity: 0;
  }

  .background {
    transform: scale(1.4, 1.2);
    opacity: 1;
  }
}